.footer {
  padding: 8px 0;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
  width: 100%;
  font-size: 16px;
  color: #666;
}

@media (max-width: 768px) {
  .footer {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .footer {
    font-size: 11px;
  }
}

